<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <form class="login-form shadow p-4 my-5 mx-auto bg-light rounded w-75">
        <div class="d-flex justify-content-center">
          <img src="images/marketplace300.jpg" />
        </div>
        <h2 class="text-center">
          <svg 
          width="162" 
          height="68" 
          viewBox="0 0 162 68" 
          fill="none" 
          xmlns="http://www.w3.org/2000/svg"
          id="login">
<mask id="path-1-outside-1_1_3" maskUnits="userSpaceOnUse" x="0" y="0" width="162" height="68" fill="black">
<rect fill="white" width="162" height="68"/>
<path d="M3 51V4.45454H8.63636V46H30.2727V51H3Z"/>
<path d="M52.4545 51.7273C49.303 51.7273 46.5379 50.9773 44.1591 49.4773C41.7955 47.9773 39.947 45.8788 38.6136 43.1818C37.2955 40.4848 36.6364 37.3333 36.6364 33.7273C36.6364 30.0909 37.2955 26.9167 38.6136 24.2045C39.947 21.4924 41.7955 19.3864 44.1591 17.8864C46.5379 16.3864 49.303 15.6364 52.4545 15.6364C55.6061 15.6364 58.3636 16.3864 60.7273 17.8864C63.1061 19.3864 64.9545 21.4924 66.2727 24.2045C67.6061 26.9167 68.2727 30.0909 68.2727 33.7273C68.2727 37.3333 67.6061 40.4848 66.2727 43.1818C64.9545 45.8788 63.1061 47.9773 60.7273 49.4773C58.3636 50.9773 55.6061 51.7273 52.4545 51.7273ZM52.4545 46.9091C54.8485 46.9091 56.8182 46.2955 58.3636 45.0682C59.9091 43.8409 61.053 42.2273 61.7955 40.2273C62.5379 38.2273 62.9091 36.0606 62.9091 33.7273C62.9091 31.3939 62.5379 29.2197 61.7955 27.2045C61.053 25.1894 59.9091 23.5606 58.3636 22.3182C56.8182 21.0758 54.8485 20.4545 52.4545 20.4545C50.0606 20.4545 48.0909 21.0758 46.5455 22.3182C45 23.5606 43.8561 25.1894 43.1136 27.2045C42.3712 29.2197 42 31.3939 42 33.7273C42 36.0606 42.3712 38.2273 43.1136 40.2273C43.8561 42.2273 45 43.8409 46.5455 45.0682C48.0909 46.2955 50.0606 46.9091 52.4545 46.9091Z"/>
<path d="M90.5511 64.8182C87.9602 64.8182 85.733 64.4849 83.8693 63.8182C82.0057 63.1667 80.4526 62.303 79.2102 61.2273C77.9829 60.1667 77.0057 59.0303 76.2784 57.8182L80.5511 54.8182C81.036 55.4545 81.6496 56.1818 82.392 57C83.1345 57.8333 84.1496 58.553 85.4375 59.1591C86.7405 59.7803 88.4451 60.0909 90.5511 60.0909C93.3693 60.0909 95.6951 59.4091 97.5284 58.0455C99.3617 56.6818 100.278 54.5455 100.278 51.6364V44.5455H99.8239C99.4299 45.1818 98.8693 45.9697 98.142 46.9091C97.4299 47.8333 96.3996 48.6591 95.0511 49.3864C93.7178 50.0985 91.9148 50.4545 89.642 50.4545C86.8239 50.4545 84.2936 49.7879 82.0511 48.4545C79.8239 47.1212 78.0587 45.1818 76.7557 42.6364C75.4678 40.0909 74.8239 37 74.8239 33.3636C74.8239 29.7879 75.4526 26.6742 76.7102 24.0227C77.9678 21.3561 79.7178 19.2955 81.9602 17.8409C84.2026 16.3712 86.7936 15.6364 89.733 15.6364C92.0057 15.6364 93.8087 16.0152 95.142 16.7727C96.4905 17.5152 97.5208 18.3636 98.233 19.3182C98.9602 20.2576 99.5208 21.0303 99.9148 21.6364H100.46V16.0909H105.642V52C105.642 55 104.96 57.4394 103.597 59.3182C102.248 61.2121 100.43 62.5985 98.142 63.4773C95.8693 64.3712 93.339 64.8182 90.5511 64.8182ZM90.3693 45.6364C92.5208 45.6364 94.339 45.1439 95.8239 44.1591C97.3087 43.1742 98.4375 41.7576 99.2102 39.9091C99.9829 38.0606 100.369 35.8485 100.369 33.2727C100.369 30.7576 99.9905 28.5379 99.233 26.6136C98.4754 24.6894 97.3542 23.1818 95.8693 22.0909C94.3845 21 92.5511 20.4545 90.3693 20.4545C88.0966 20.4545 86.2027 21.0303 84.6875 22.1818C83.1875 23.3333 82.0587 24.8788 81.3011 26.8182C80.5587 28.7576 80.1875 30.9091 80.1875 33.2727C80.1875 35.697 80.5663 37.8409 81.3239 39.7045C82.0966 41.553 83.233 43.0076 84.733 44.0682C86.2481 45.1136 88.1269 45.6364 90.3693 45.6364Z"/>
<path d="M115.46 51V16.0909H120.824V51H115.46ZM118.188 10.2727C117.142 10.2727 116.241 9.91667 115.483 9.20454C114.741 8.49242 114.369 7.63636 114.369 6.63636C114.369 5.63636 114.741 4.7803 115.483 4.06818C116.241 3.35606 117.142 3 118.188 3C119.233 3 120.127 3.35606 120.869 4.06818C121.627 4.7803 122.006 5.63636 122.006 6.63636C122.006 7.63636 121.627 8.49242 120.869 9.20454C120.127 9.91667 119.233 10.2727 118.188 10.2727Z"/>
<path d="M136.011 30V51H130.648V16.0909H135.83V21.5455H136.284C137.102 19.7727 138.345 18.3485 140.011 17.2727C141.678 16.1818 143.83 15.6364 146.466 15.6364C148.83 15.6364 150.898 16.1212 152.67 17.0909C154.443 18.0455 155.822 19.5 156.807 21.4545C157.792 23.3939 158.284 25.8485 158.284 28.8182V51H152.92V29.1818C152.92 26.4394 152.208 24.303 150.784 22.7727C149.36 21.2273 147.405 20.4545 144.92 20.4545C143.208 20.4545 141.678 20.8258 140.33 21.5682C138.996 22.3106 137.943 23.3939 137.17 24.8182C136.398 26.2424 136.011 27.9697 136.011 30Z"/>
</mask>
<path d="M3 51V4.45454H8.63636V46H30.2727V51H3Z" stroke="#2647F5" stroke-width="6" mask="url(#path-1-outside-1_1_3)"/>
<path d="M52.4545 51.7273C49.303 51.7273 46.5379 50.9773 44.1591 49.4773C41.7955 47.9773 39.947 45.8788 38.6136 43.1818C37.2955 40.4848 36.6364 37.3333 36.6364 33.7273C36.6364 30.0909 37.2955 26.9167 38.6136 24.2045C39.947 21.4924 41.7955 19.3864 44.1591 17.8864C46.5379 16.3864 49.303 15.6364 52.4545 15.6364C55.6061 15.6364 58.3636 16.3864 60.7273 17.8864C63.1061 19.3864 64.9545 21.4924 66.2727 24.2045C67.6061 26.9167 68.2727 30.0909 68.2727 33.7273C68.2727 37.3333 67.6061 40.4848 66.2727 43.1818C64.9545 45.8788 63.1061 47.9773 60.7273 49.4773C58.3636 50.9773 55.6061 51.7273 52.4545 51.7273ZM52.4545 46.9091C54.8485 46.9091 56.8182 46.2955 58.3636 45.0682C59.9091 43.8409 61.053 42.2273 61.7955 40.2273C62.5379 38.2273 62.9091 36.0606 62.9091 33.7273C62.9091 31.3939 62.5379 29.2197 61.7955 27.2045C61.053 25.1894 59.9091 23.5606 58.3636 22.3182C56.8182 21.0758 54.8485 20.4545 52.4545 20.4545C50.0606 20.4545 48.0909 21.0758 46.5455 22.3182C45 23.5606 43.8561 25.1894 43.1136 27.2045C42.3712 29.2197 42 31.3939 42 33.7273C42 36.0606 42.3712 38.2273 43.1136 40.2273C43.8561 42.2273 45 43.8409 46.5455 45.0682C48.0909 46.2955 50.0606 46.9091 52.4545 46.9091Z" stroke="#2647F5" stroke-width="6" mask="url(#path-1-outside-1_1_3)"/>
<path d="M90.5511 64.8182C87.9602 64.8182 85.733 64.4849 83.8693 63.8182C82.0057 63.1667 80.4526 62.303 79.2102 61.2273C77.9829 60.1667 77.0057 59.0303 76.2784 57.8182L80.5511 54.8182C81.036 55.4545 81.6496 56.1818 82.392 57C83.1345 57.8333 84.1496 58.553 85.4375 59.1591C86.7405 59.7803 88.4451 60.0909 90.5511 60.0909C93.3693 60.0909 95.6951 59.4091 97.5284 58.0455C99.3617 56.6818 100.278 54.5455 100.278 51.6364V44.5455H99.8239C99.4299 45.1818 98.8693 45.9697 98.142 46.9091C97.4299 47.8333 96.3996 48.6591 95.0511 49.3864C93.7178 50.0985 91.9148 50.4545 89.642 50.4545C86.8239 50.4545 84.2936 49.7879 82.0511 48.4545C79.8239 47.1212 78.0587 45.1818 76.7557 42.6364C75.4678 40.0909 74.8239 37 74.8239 33.3636C74.8239 29.7879 75.4526 26.6742 76.7102 24.0227C77.9678 21.3561 79.7178 19.2955 81.9602 17.8409C84.2026 16.3712 86.7936 15.6364 89.733 15.6364C92.0057 15.6364 93.8087 16.0152 95.142 16.7727C96.4905 17.5152 97.5208 18.3636 98.233 19.3182C98.9602 20.2576 99.5208 21.0303 99.9148 21.6364H100.46V16.0909H105.642V52C105.642 55 104.96 57.4394 103.597 59.3182C102.248 61.2121 100.43 62.5985 98.142 63.4773C95.8693 64.3712 93.339 64.8182 90.5511 64.8182ZM90.3693 45.6364C92.5208 45.6364 94.339 45.1439 95.8239 44.1591C97.3087 43.1742 98.4375 41.7576 99.2102 39.9091C99.9829 38.0606 100.369 35.8485 100.369 33.2727C100.369 30.7576 99.9905 28.5379 99.233 26.6136C98.4754 24.6894 97.3542 23.1818 95.8693 22.0909C94.3845 21 92.5511 20.4545 90.3693 20.4545C88.0966 20.4545 86.2027 21.0303 84.6875 22.1818C83.1875 23.3333 82.0587 24.8788 81.3011 26.8182C80.5587 28.7576 80.1875 30.9091 80.1875 33.2727C80.1875 35.697 80.5663 37.8409 81.3239 39.7045C82.0966 41.553 83.233 43.0076 84.733 44.0682C86.2481 45.1136 88.1269 45.6364 90.3693 45.6364Z" stroke="#2647F5" stroke-width="6" mask="url(#path-1-outside-1_1_3)"/>
<path d="M115.46 51V16.0909H120.824V51H115.46ZM118.188 10.2727C117.142 10.2727 116.241 9.91667 115.483 9.20454C114.741 8.49242 114.369 7.63636 114.369 6.63636C114.369 5.63636 114.741 4.7803 115.483 4.06818C116.241 3.35606 117.142 3 118.188 3C119.233 3 120.127 3.35606 120.869 4.06818C121.627 4.7803 122.006 5.63636 122.006 6.63636C122.006 7.63636 121.627 8.49242 120.869 9.20454C120.127 9.91667 119.233 10.2727 118.188 10.2727Z" stroke="#2647F5" stroke-width="6" mask="url(#path-1-outside-1_1_3)"/>
<path d="M136.011 30V51H130.648V16.0909H135.83V21.5455H136.284C137.102 19.7727 138.345 18.3485 140.011 17.2727C141.678 16.1818 143.83 15.6364 146.466 15.6364C148.83 15.6364 150.898 16.1212 152.67 17.0909C154.443 18.0455 155.822 19.5 156.807 21.4545C157.792 23.3939 158.284 25.8485 158.284 28.8182V51H152.92V29.1818C152.92 26.4394 152.208 24.303 150.784 22.7727C149.36 21.2273 147.405 20.4545 144.92 20.4545C143.208 20.4545 141.678 20.8258 140.33 21.5682C138.996 22.3106 137.943 23.3939 137.17 24.8182C136.398 26.2424 136.011 27.9697 136.011 30Z" stroke="#2647F5" stroke-width="6" mask="url(#path-1-outside-1_1_3)"/>
</svg>



</h2>
        <div>
          <label for="email" class="col-form-label">Email</label>
          <div>
            <input type="text" class="form-control" id="email">
          </div>
        </div>
        <div>
          <label for="password" class="col-form-label">Password</label>
          <div>
            <input type="password" class="form-control" id="password">
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg w-100 mt-4 p-3">Submit</button>
        <p class="text-center mt-3 mb-0">Don't have an account? <a href="/register">Register here</a></p>
      </form>
    </div>
  </div>
</div>
<script src="js/login.js"></script>
<script src="anime.min.js"></script>
<script>
anime({
  targets: '#login path',
  strokeDashoffset: [anime.setDashoffset, 0],
  easing: 'easeInOutSine',
  duration: 1000,
  delay: function(el, i) { return i * 250 },
  direction: 'alternate',
  loop: true
});

</script>
<link rel="stylesheet" href="../public/css/style.css"