<div class="card">
    <h3 class="card-header">Create New Listing</h3>

    <form>
        <div class="post">
            <div class="form-group col-md-4">
                <label for="item">Item</label>
                <input type="text" class="form-control" id="item" placeholder="Item Name">
            </div>
            <div class="form-group col-md-6">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="3"></textarea>
            </div>
            <div class="form-group col-md-4">
                <label for="image">Image URL</label>
                <input type="text" class="form-control" id="image" placeholder="https://example.com">
            </div>
            <div class="form-group col-md-2">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price">
            </div>
            <div class="form-group col-md-2">
                <label for="category">Category</label>
                <select id="category" class="form-control">
                    <option selected>Choose...</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">List Item</button>
        </div>
    </form>
</div>

<script src="js/new-post.js"></script>